<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<%= form_tag create_comment_post_path(@post), method: :get, remote: true do %>
  <%= text_field_tag :content %>
  <%= submit_tag :write %>
<% end %>

<div id="comments">
  <% @comments.each do |c| %>
    <div><%= c.content %></div>
  <% end %>
</div>
